
.menu-container{
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 0vw;
    background-color: black;
    border: 2px solid rgba(240, 46, 170); 
    z-index: 99;
    padding-top: 1rem;
    text-align: center;
    color: transparent;
    transition: all 100ms linear;
}
.open{
    width: 33vw;
    color:rgba(240, 46, 170)
}
.menu-header{
    width: 100%;
    display: flex;
    justify-content: center;
}
a{
    color: rgba(240, 46, 170) !important;
    text-decoration: none !important;
}
svg{
    position: absolute;
    right: 10px;
    cursor: pointer;
}
@media(max-width: 767px){
    .menu-container{
        width: 0vw;
    }
    .open{
        width: 60vw;
        color:rgba(240, 46, 170)
    }
    svg{
        right: 30px;
    }
}
