#gameboard{
    
    height: 500px;
    width: 500px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 2px;
}
.cell{
    background-color: rgb(228, 228, 228);
    user-select: none;
}
.cell-mine{
    
    display: flex;
    justify-content: center;
    align-items: center;

}
.cell-safe{
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 228, 228);
}
#bomb{
    position: static;
}
.exposed-safe{
  color: white;
  background-color: green;
}
.exposed-mine{
  background-color: red;
}
.exposed-bomb{
  visibility: visible;
}
.hidden-bomb{
  visibility: hidden;
}


