.cards-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
}
.memory-card{
    display: flex;
    justify-content: center;
    margin: 1rem;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: all 0.15s linear;
}
.cust-btn{
    background-color: black !important;
    color: rgba(240, 46, 170) !important;
    border: 1px solid rgba(240, 46, 170) !important;
    cursor: pointer;
    padding: .5rem;
    font-size: 1.5rem;
    font-family: 'Tourney', cursive;
    
}
.cust-btn:hover{
    background-color: rgba(240, 46, 170) !important;
    color: black !important;
}

@media (min-width: 1921px){
    .cards-wrapper{
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
}
@media (min-width: 786px){
    .card{
        display: block;
    }
}