img{
    height: 90%;
    width: 100%;
    border: 2px solid white;
    border-radius: 15px;
}
.image-wrapper{
    height: 75%;
    width: 95%;
}

.character-wrapper{
    height: 35vh;
    padding: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: all 0.15s linear;
    opacity: .8;
}
.character-wrapper:hover{
    opacity: 1;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}