.header{
    margin-left: 0;
    font-size: 1.75rem;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
h2{
    margin: 0 !important;
}
.menu-button{
    position: absolute;
    top:2.25rem;
    right: 1rem;
    height: 30px;
    width: 30px;
}
@media(max-width:767px){
    .menu-button{
        right: 0;
    }
    .menu-icon{
        right: 10px;
    }
}