.sort-image-wrapper img{
    height: 90%;
    width: 40%;
    border: 1px solid black;
    border-radius: 15px;
}
.sort-image-wrapper{
    margin-top: 10px;
    text-align: center;
    height: 90%;
    width: 50%;
}
.sort-char-header{
    margin-top: 0;
    font-size: 1.1rem;
    text-align: center;
}
.sort-character-wrapper{
    height: 12vh;
    padding: 1rem;
    font-family:'Times New Roman', Times, serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(240, 46, 170);
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: all 0.15s linear;
    opacity: .8;
    cursor: grabbing;
    margin-bottom: 10px;
}

@media(min-width:950px){
    .sort-image-wrapper{
        text-align: center;
        height: 90%;
        width: 35%;
    }
    .sort-character-wrapper{
        width: 100%;
        font-family: 'Tourney' , cursive;
        
    }
    .sort-character-wrapper:hover{
    opacity: 1;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    }
}